h1{
    text-align: center;
    font-size: 40px;
}
legend{
    font-weight: bold;
    font-size: 20px;
}
fieldset{
    /* position: absolute;
    top: 70px;
    left: 100px; */
    width: 100%;
    margin: 0 auto; 
    position: absolute;
    width: calc(350px + 30%);
    margin: auto;
    height: calc(300px + 35%);
    max-height: 2000px;
    margin-top: calc(100vh - 85vh - 20px);
    background: rgb(214, 203, 203);
    border-radius: 10px;
    overflow: auto;
    top: 50px;
    left: 350px;
    border: 3px solid
    
    /* background: rgb(255, 255, 255); */
}

.ID{
    display: flex;
    text-align: center;
}

table, th, td{
    border:1px solid #ccc;
}
table{
    border-collapse:collapse; 
    width:100%;
}
th, td{
    text-align:center;
    padding:10px;
}

/* tr:hover{
    background-color:#ddd;
    cursor:pointer;
} */
nav{
    padding:100px
}
.OK{
    text-align: center;
}
.OK button{
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(255, 251, 0)
}
.status .tt{
    font-weight: bold;
}
.status{
    display: flex;
}
.search .add{
    font-weight: bold;
}
.search{
    display: flex;
}
.tongtien{
    font-weight: bold;
}
select{
    width: 150px;
    height: 25px;
    border-style: solid;
    position: relative;
    left: 10px;
    top: 15px;
    text-align: center;
}