/* Popup style */
.popup-background {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.box {
    position: relative;
    width: calc(400px + 20%);
    margin: auto;
    height: calc(325px + 20%);
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 10px;
    overflow: auto;
}

.box .header-bar
{
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #ccc;
    text-align: center;
}

.box .header-content
{
    display: inline-block;
    font-weight: bold;
    color: black ;
    opacity: 85%;
    top: 40%;
}

.box .body
{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    display: grid;
    grid-template-columns: 30% 70%;
}
.box .header-info
{
    width: 100%;
    height: 15%;
    background-color: white;
}

/* TABLE OF HEADER INFO */
table.info-table {
    height: 100%;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-weight: bold;
  }
table.info-table td, table.info-table th {
border: 1px solid #FFFFFF;
padding: 2px 2px;
}
table.info-table tbody td {
font-size: 13px;
color: #000000;
}
table.info-table thead {
background: #FFFFFF;
background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
}
table.info-table thead th {
font-size: 15px;
font-weight: bold;
color: #000000;
}
.info-table .last-col
{
    text-align:right;
    margin-right: 20px;
    padding-right: 5%;
}
.info-table .last-col-row
{
    text-align:right;
    color: red;
    font-weight: bold;
    padding-right: 5%;
    font-size: 20px;
}
/* END OF TABLE */

.info .detail-info
{
    background-color: white;
    width: 100%;
    height: 30%;
    line-height: 28px;
}

.info .detail-info .footer button
{
    width: 10vw;
    height: 5vh;
    background-color: rgba(16, 3, 75, 0.89);   
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    text-align: center;
    font-size: smaller;
}
/* END INFO */

.popup-background .pop-img {
    position: relative;
    top: 10px;
    left: 40%;
    transform: translateX(-50%);
    height: 30%;
    width: 70%;
    border: #ccc;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
}

.popup-background .header-bar .close-icon {
    content: 'x';
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 0;
    background: none;
    font-size: 25px;
    color: rgb(41, 41, 41);
}