
.payment-field
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(170, 170, 170);
}

.payment-box
{
    position: relative;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    min-width: 300px;
    height: 80%;
    background-color: white;
    border: 1px solid gray;
}